* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background: #0e0e0e;
    padding: 0 100px;
}

a {
    text-decoration: none;
    color: white;
}
li {
    font-size: 20px;
    list-style: none;
}