/*
#region Header
*/

.header {
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
}

.header__logo {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.header__nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav-links {
  width: 800px;
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.header__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity 0.15s;
  font-size: 22px;
  letter-spacing: 0.4px;
  font-weight: 600;
}

.header__link:hover {
  opacity: 0.8;
}

.header__link_shop {
  color: #ffce48;
}

/*
#endregion Header
*/

/*
#region Hero
*/

.hero {
  margin: 80px 0;
}

.hero__heading {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.hero__heading h1 {
  font-size: 72px;
  font-weight: 700;
  margin: 0 0 20px 0;
  text-transform: uppercase;
}

.hero__heading p {
  font-size: 22px;
  font-weight: 500;
}

.hero__servers {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

/*
#endregion Hero
*/
