/*
#region Header
*/

.header {
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.header__logo {
  font-size: 28px;
  font-weight: 700;
  color: var(--white);
  
}

.header__nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav-links {
  width: 800px;
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.header__nav-links li {
  position: relative;
  z-index: 2;
}
.header__link {
  color: var(--white);
  text-transform: uppercase;
  transition: opacity 0.15s;
  font-size: 22px;
  letter-spacing: 0.4px;
  font-weight: 600;
  margin: 0;
  cursor: pointer;
}

.header__link:hover {
  opacity: 0.8;
}

.header__link_shop {
  color: var(--warm-yellow);
}

.svg {
  display: none;
  cursor: pointer;
}

/*
#endregion Header
*/

/*
#region Hero
*/

.hero {
  --hero-vertical-margin: 80px;
  height: calc(
    100vh - var(--header-height) - calc(var(--hero-vertical-margin) * 2)
  );

  margin: var(--hero-vertical-margin) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__heading {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  color: var(--white);
}

.hero__heading h1 {
  font-size: 72px;
  font-weight: 700;
  margin: 0 0 20px 0;
  text-transform: uppercase;
}

.hero__heading p {
  font-size: 22px;
  font-weight: 500;
}

.hero__servers {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  flex-wrap: wrap;
}

.hero__servers > div {
  margin-bottom: 48px;
}

/*
#endregion Hero
*/

/*
#burgerMenu
*/

/*
#endburgerMenu
*/

/*
#media Screen
*/
@media (max-width: 960px) {
  .header__nav-links {
    display: none;
  }
  .svg {
    display: block;
  }
}
@media (max-width: 700px) {
  .hero__heading h1 {
    font-size: 52px;
  }
  .hero__servers {
    justify-content: center;
    gap: 20px;
  }
}
@media (max-width: 520px) {
  .hero__heading h1 {
    font-size: 42px;
  }
}
@media (max-width: 410px) {
  .hero__heading h1 {
    font-size: 32px;
  }
  .hero__heading p {
    font-size: 15px;
  }
}