.dropdown {
  position: absolute;
  width: 500px;
  left: -350px;
  top: 32px;
  /* background: #15153b; */
  background: linear-gradient(90deg, #15153b, #0d0d25);
  box-shadow: #00000044 0 5px 5px 0px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  z-index: -20;
}
.dropdown::after {
  content: ""; 
  position: absolute;
  right: 50px; top: -16px;
  border: 10px solid transparent;
  border: 10px solid transparent; border-bottom: 6px solid #0d0d25;
  
}
.dropdown_open {
  display: flex;
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding-left: 20px;
  padding: 10px 0 0 0;
}

.dropdown li {
  list-style: none;
  cursor: pointer;
}

.dropdown li:hover {
  text-decoration: underline;
}

.dropdown p {
  margin: 0;
  cursor: default;
}

.header__link {
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity 0.15s;
  font-size: 22px;
  letter-spacing: 0.4px;
  font-weight: 600;
  margin: 0;
  cursor: pointer;
}

