.dropdown {
  position: absolute;
  width: 500px;
  height: 200px;
  left: -350px;
  top: 32px;
  background: rgb(19, 19, 19);
  border: 3px solid white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  font-weight: 600;
  color: rgb(209, 208, 208);
  text-transform: uppercase;
}
.dropdown::after {
  content: ""; 
  position: absolute;
  right: 50px; top: -19px;
  border: 10px solid transparent;
  border: 10px solid transparent; border-bottom: 8px solid white;

}
.dropdown_open {
  display: flex;
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding-left: 20px;
  padding: 10px 0 0 0 ;
}

.dropdown li {
  list-style: none;
  cursor: pointer;
}

.dropdown li:hover {
  text-decoration: underline;
}

.dropdown p {
  margin: 0;
  cursor: default;
}

.header__link {
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity 0.15s;
  font-size: 22px;
  letter-spacing: 0.4px;
  font-weight: 600;
  margin: 0;
  cursor: pointer;
}

.dropdown__open {
  animation: opened 2s;
}
.dropdown__close {
  animation: closed 2s;
}
@keyframes opened {
  0% {
    left: -500px;
    opacity: 0;
  }
  100% {
    left: -350px;
    opacity: 100%;
  }
}
@keyframes closed {
  0% {
    left: -350px;
    opacity: 100%;
  }
  100% {
    left: -500px;
    opacity: 0;
  }
}