.burger__module {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    right: 0;
    padding-top: 46px;
    background: var(--darkblue);
    width: 300px;
    height: 100vh;
    z-index: 2;
}
.burger__menu {
    background: #0d0d25;
    height: 100%;
    padding: 0;
    width: 100%;
    overflow-y: scroll;
}
.burger__menu::-webkit-scrollbar {
width: 0;
}
.burger__svg {
cursor: pointer;
right: 0;
margin-right: 40px;
}
.burger__menu li {
padding: 20px 0 20px 20px;
transition: background .6s;
cursor: pointer;

}
.burger__menu a, .burger__menu li{
color: var(--white);
text-transform: uppercase;
font-weight: 600;
}
.burger__menu li:hover {
background: rgba(255, 255, 255, 0.119);
}
.burger__menu p {
margin: 0;
}
.burger_list {
background: rgba(0, 0, 0, 0.158);
color: var(--white);
padding: 20px 0 0 40px;
}
.burger_list li {
padding: 10px 0 10px 20px;
}
.burger__close {
    opacity: 0;
    transform: translateX(200px);
}


@media (max-width: 550px) {
    .burger__module {
        width: 250px;
    }
} 
@media (max-width: 960px) {
    .burger__module {
        display: flex;
    }
}